<%= form_with(model: bookmark, remote: true, data: {confirm: "Estás seguro?"}) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bookmark_name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :bookmark_url %>
    <%= form.text_field :bookmark_url, id: :bookmark_url, :class => "form-control" %>
  </div>

  <div class="field pt-3">
    <%= form.label :kind_id %>
    <%= form.select :kind_id, Kind.all.collect {|k| [k.name, k.id]}, {}, id: :bookmark_kind_id, include_blank: false %>
  </div>

  <div class="field pt-2">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {}, id: :bookmark_category_id, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-info" %>
  </div>
<% end %>
